@import "tailwindcss";

@theme {
  --color-neon-blue: #3B82F6;
  --color-sunset-orange: #F97316;
  --color-background: #0a0a0a;

  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    font-family: var(--font-sans);
  }
}
